<%= form_with(model: filial) do |form| %>
  <% if filial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(filial.errors.count, "error") %> prohibited this filial from being saved:</h2>

      <ul>
        <% filial.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :empresa_id %>
    <%= form.text_field :empresa_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
