<p id="notice"><%= notice %></p>

<h1>Vistoria</h1>

<table>
  <thead>
    <tr>
      <th>Carreta</th>
      <th>Vistoriador</th>
      <th>Destino</th>
      <th>Tipo vistoria</th>
      <th>Data</th>
      <th>Arquivo pdf</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vistoria.each do |vistorium| %>
      <tr>
        <td><%= vistorium.carreta_id %></td>
        <td><%= vistorium.vistoriador %></td>
        <td><%= vistorium.destino %></td>
        <td><%= vistorium.tipo_vistoria %></td>
        <td><%= vistorium.data %></td>
        <td><%= vistorium.arquivo_pdf %></td>
        <td><%= link_to 'Show', vistorium %></td>
        <td><%= link_to 'Edit', edit_vistorium_path(vistorium) %></td>
        <td><%= link_to 'Destroy', vistorium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vistorium', new_vistorium_path %>
